@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__links/header__links.css);
.header{
    max-width: calc(100% - 96px);
    margin:auto;
    padding-top: 28px;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
}
@media screen and (max-width:768px){
    .header{
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width:500px){
    .header{
        max-width: calc(100% - 32px);
    }
}
