.lead__subtitle{
font-family: "Inter";
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 120%;
text-align: center;
margin: auto;
margin-top: 32px;
max-width: 640px;
max-height: 72px;
}
@media screen and (max-width:1024px){
    .lead__subtitle{
        margin-left: 152px;
        margin-right: 152px;
    }
}
@media screen and (max-width:768px){
    .lead__subtitle{
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width:450px){
    .lead__subtitle{
        margin-left: 16px;
        margin-right: 16px;
        width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}