.place__link{
padding-top: 12px;
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
color: #fff;
grid-area:url;
align-self: flex-start;
opacity:1;
transition: 0.5s ease;
margin-left: 40px;
}
.place__link:hover{
    opacity:0.5;
    transition: 0.5s ease;
}
